body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:2400px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:2400px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:782px;
  width:40px;
  height:40px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:761px;
  width:289px;
  height:82px;
  display:flex;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:952px;
  width:40px;
  height:40px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:931px;
  width:263px;
  height:82px;
  display:flex;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:50px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1122px;
  width:40px;
  height:40px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1101px;
  width:128px;
  height:82px;
  display:flex;
  font-family:"Arial Narrow Bold Italic", "Arial Narrow", "Arial", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:72px;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:696px;
  height:31px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1294px;
  width:680px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.044063311098421924deg);
  -moz-transform:rotate(0.044063311098421924deg);
  -ms-transform:rotate(0.044063311098421924deg);
  transform:rotate(0.044063311098421924deg);
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文新魏 Oblique", "华文新魏", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1312px;
  width:448px;
  height:30px;
  display:flex;
  font-family:"华文新魏 Oblique", "华文新魏", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:291px;
  width:1px;
  height:15px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
